
@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron" style="background-color:ActiveBorder; text-align:right" >
    <h1>Welcome to Kagojer Ishkool</h1>
    <h4>Crafting School</h4>
</div>
<div class="row">
    <div class="col-md-7">
        <h2>Column 1</h2>
        <p>This is the content of Column 1. Let's see the column it takes. taking 7 lg</p>
    </div>
    <div class="col-md-5">
        <h2>Column 2</h2>
        <p>This is the content of Column 2. Let's see the column it takes. taking 5 lg</p>
    </div>
</div>

